.paginationSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &__button {
    background-color: #f8cba6;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover:not(:disabled) {
      background-color: #e3b085;
      transform: scale(1.1);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &--active {
      width: 40px;
      height: 40px;
      background-color: #f08e05;
      color: #fff;
      border-radius: 100%;
      transform: scale(1.1);
      font-weight: bold;
      border: none;
    }
  }

  &__numbers {
    display: flex;
    align-items: center;
  }

  &__dots {
    margin: 0 5px;
    font-size: 16px;
  }
}
