.menuTown {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #0000003a;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 80%;
    height: 60%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;

    & .logo {
      position: absolute;
      top: 1rem;
      width: 10rem;
      height: 10rem;
    }

    &--options {
      margin-top: 3rem;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      & button {
        width: 18rem;
        background-color: #ff6a00;
        height: 3rem;
        font-size: 20px;

        font-weight: bold;
        color: #fff;
        border-radius: 2rem;
        border: none;
      }
    }

    &--button {
      position: absolute;
      bottom: 1rem;
      & button {
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}

.menu {
  display: none;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

.navList {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;

    list-style: none;
    display: flex;
    gap: 1rem;

    & button {
      border: none;
      background-color: transparent;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #ffa37e;
        transition: 0.4s;
        // padding: 0.5rem 0.3rem;
      }
    }
  }
}
