.view-ports {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      & h3 {
        margin: 0;
      }

      & button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }

    &--content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;

      & .port {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1891e2;
        border-radius: 5px;
        position: relative;
        font-weight: bold;
        font-size: 1rem;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          transition: 0.3s;
          color: #fff;
        }
      }
      & .occupied {
        background-color: #4caf50;
      }

      & .bad {
        background-color: #f44336;

        & button {
          background-color: transparent;
          border: none;
          font-weight: bold;
          font-size: 1rem;
          &:hover {
            cursor: pointer;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
