@media only screen and (min-width: 1024px) {
  .boxDetails {
    display: flex;
    justify-content: center;

    &__sector {
      gap: 1rem;
      margin-bottom: 3rem;

      // & p {
      //   font-size: 1.4rem;
      // }
    }

    &__users {
      & b {
        font-size: 1.5rem;
      }
      &--name {
        margin-top: 1.5rem;
      }
    }
  }
}
