@media only screen and (min-width: 768px) {
  .card-boxDetail {
    width: 500px;
    position: relative;
    margin-top: 3rem;
    padding: 3rem;
  }

  .boxDetails {
    display: flex;
    justify-content: center;

    &__sector {
      gap: 1rem;
      margin-bottom: 3rem;

      // & p {
      //   font-size: 1rem;
      // }
    }

    &__users {
      & b {
        font-size: 1.5rem;
      }
      &--name {
        margin-top: 1.5rem;
      }
    }
  }
}
