.sector {
  display: none;
}

.townInfo {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__header {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #fff, #1261e0);

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;

      & .logo {
        width: 5rem;
        height: 5rem;
      }

      & .menu {
        & i {
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }

  h2 {
    margin: 1.5rem 0 3rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 3rem 0 1rem 0;

    &--tablet {
      display: flex;
      justify-content: center;

      .table-card {
        width: 100%;
        max-width: 1000px;
        border-radius: 20px;
        box-shadow: 0 4px 8px #a0a0a03b;
        overflow: hidden;
        background-color: #fff;
        margin-top: 20px;
        outline: 1px solid #86868659;
      }

      & table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 20px;

        & thead {
          color: #333;
          border-radius: 20px;
          & tr {
            background-color: #1771f9;
            height: 4rem;
            margin-bottom: 3rem;
            color: #fff;
            & th {
              padding: 10px;
              font-size: 18px;
              font-weight: bold;
              text-align: center; /* Centrar el contenido */
            }
          }
        }

        & tbody {
          & tr {
            font-size: 15px;
            &:hover {
              background-color: #e3f2fd;
            }
            & .sector {
              text-align: center;
            }
            & td {
              padding: 10px 15px;
              text-align: center; /* Centrar el contenido */
              border-bottom: 0.1px solid #e0e0e08c;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
