.townInfo {
  width: 100%;
  height: auto;

  &__header {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #fff, #1261e0);

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;

      & .logo {
        width: 5rem;
        height: 5rem;
      }

      & .menu {
        & i {
          font-size: 2rem;
          color: #fff;
        }
      }
    }
  }
  h2 {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    &--tablet {
      width: 100%;
      height: auto;

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        thead {
          background-color: #0059b3;
          color: white;
          border-left: 2px solid #0059b3;
          border-right: 2px solid #0059b3;
          th {
            background-color: #00449e;
            color: white;
            padding: 15px;
            font-size: 16px;
          }
        }

        tbody {
          tr,
          td {
            outline: 1px solid #e3e3e3c8;
          }
          tr:hover {
            background-color: #3262ff;
            color: #fff;
          }

          td {
            padding: 10px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
