.card-userDetail {
  padding: 1rem;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.userDetails {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid #94969788;
  position: relative;
  box-shadow: 0 4px 8px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__sector {
    text-align: center;
    margin-top: 1rem;
    width: 100%;

    &--title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }

  &__info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    &--text {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
    }

    &--state {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;

      & .state-indicator {
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100%;
      }
    }
  }

  &__options {
    width: 100%;
    margin-top: 3rem;

    &--button {
      display: flex;
      gap: 1rem;
      justify-content: center;

      & button {
        width: 7rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 20rem;
        border: none;
        background-color: #1674f8c7;
        color: #fff;
        transition: background-color 0.3s;

        &:hover {
          cursor: pointer;
          background-color: #145bb5;
        }
      }
    }
  }

  &__return {
    position: absolute;
    top: 1rem;
    right: 1rem;

    & button {
      border: none;
      background-color: transparent;
      font-size: 1.5rem;

      &:hover {
        color: #f00;
        cursor: pointer;
      }
    }
  }
}
