@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.logo {
  width: 7rem;
  height: 7rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerAdmin {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.start__btn {
  display: flex;
  justify-content: end;
}
.start__btn--login {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #d5f4ff;
}
.start__btn--login i {
  font-size: 1.5rem;
  color: #eb4707;
}
.start__space {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
  max-width: 500px;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 10rem;
  height: 10rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.subTitel {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options__button {
  width: 100%;
  height: 3.3rem;
  font-size: 22px;
  border-radius: 30rem;
  border: none;
  background-color: #196ee4;
  color: white;
}

.sector {
  display: none;
}

.townInfo {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.townInfo__header {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, #fff, #1261e0);
}
.townInfo__header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.townInfo__header nav .logo {
  width: 5rem;
  height: 5rem;
}
.townInfo__header nav .menu i {
  font-size: 2rem;
  color: #fff;
}
.townInfo h2 {
  margin: 1.5rem 0 3rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.townInfo__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 3rem 0 1rem 0;
}
.townInfo__content--tablet {
  display: flex;
  justify-content: center;
}
.townInfo__content--tablet .table-card {
  width: 100%;
  max-width: 1000px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(160, 160, 160, 0.231372549);
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
  outline: 1px solid rgba(134, 134, 134, 0.3490196078);
}
.townInfo__content--tablet table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
}
.townInfo__content--tablet table thead {
  color: #333;
  border-radius: 20px;
}
.townInfo__content--tablet table thead tr {
  background-color: #1771f9;
  height: 4rem;
  margin-bottom: 3rem;
  color: #fff;
}
.townInfo__content--tablet table thead tr th {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; /* Centrar el contenido */
}
.townInfo__content--tablet table tbody tr {
  font-size: 15px;
}
.townInfo__content--tablet table tbody tr:hover {
  background-color: #e3f2fd;
}
.townInfo__content--tablet table tbody tr .sector {
  text-align: center;
}
.townInfo__content--tablet table tbody tr td {
  padding: 10px 15px;
  text-align: center; /* Centrar el contenido */
  border-bottom: 0.1px solid rgba(224, 224, 224, 0.5490196078);
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .sector {
    display: block;
    margin-top: 0.7rem;
  }
  .townInfo {
    width: 100%;
  }
  .townInfo__header {
    height: 5rem;
    display: flex;
    justify-content: center;
  }
  .townInfo__header--nav {
    width: 1024px;
  }
  .townInfo h2 {
    font-size: 2.5rem;
  }
}
.menuTown {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2274509804);
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuTown__content {
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}
.menuTown__content--options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.menuTown__content--options button {
  width: 100%;
  max-width: 18rem;
  background-color: #ff6a00;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 2rem;
  border: none;
}
.menuTown__content--button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.menuTown__content--button button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.menuTown__content--button button:hover {
  color: #f00;
  cursor: pointer;
}

.menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .menu {
    display: block;
  }
}

.navList {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .navList {
    display: block;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .navList button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  .navList button:hover {
    color: #ffa37e;
    transition: 0.4s;
  }
}

@media only screen and (min-width: 1024px) {
  .menuTown {
    display: none;
  }
}

.cards__list .box, .cards__list .port, .cards__list .portsUsed {
  padding: 10px;
  text-align: center;
}
.cards__list .sector {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .cards__list .box, .cards__list .port, .cards__list .portsUsed {
    padding: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .cards__list .box, .cards__list .port, .cards__list .portsUsed {
    padding: 15px;
  }
}
.card-boxDetail {
  border: 1px solid rgba(148, 150, 151, 0.5333333333);
  border-radius: 20px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.boxDetails {
  width: 100%;
  height: auto;
  padding: 1rem;
  position: relative;
  margin-bottom: 5rem;
}
.boxDetails__sector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}
.boxDetails__sector--title {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.boxDetails__sector--title i {
  color: #1771f9;
}
.boxDetails__sector--address {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.boxDetails__sector--address i {
  font-size: 1.5rem;
  color: #1771f9;
}
.boxDetails__users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.boxDetails__users b {
  font-size: 1.5rem;
}
.boxDetails__users--name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boxDetails__users--name div {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #e3f2fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s;
}
.boxDetails__users--name div b {
  font-size: 1.2rem;
  color: #1771f9;
}
.boxDetails__users--name div p {
  margin: 0;
  font-size: 1rem;
}
.boxDetails__users--name div:hover {
  background-color: #bbdefb;
  cursor: pointer;
}
.boxDetails__options {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.boxDetails__options--button button {
  width: auto;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: #1771f9;
  color: #fff;
  transition: background-color 0.3s;
}
.boxDetails__options--button button:hover {
  background-color: #0d47a1;
}
.boxDetails__return {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.boxDetails__return button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.boxDetails__return button:hover {
  color: #f00;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .card-boxDetail {
    width: 500px;
    position: relative;
    margin-top: 3rem;
    padding: 3rem;
  }
  .boxDetails {
    display: flex;
    justify-content: center;
  }
  .boxDetails__sector {
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .boxDetails__sector p {
    font-size: 1.4rem;
  }
  .boxDetails__users b {
    font-size: 1.5rem;
  }
  .boxDetails__users--name {
    margin-top: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .boxDetails {
    display: flex;
    justify-content: center;
  }
  .boxDetails__sector {
    gap: 1rem;
    margin-bottom: 3rem;
  }
  .boxDetails__sector p {
    font-size: 1.4rem;
  }
  .boxDetails__users b {
    font-size: 1.5rem;
  }
  .boxDetails__users--name {
    margin-top: 1.5rem;
  }
}
.card-userDetail {
  padding: 1rem;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.userDetails {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid rgba(148, 150, 151, 0.5333333333);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userDetails__sector {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
}
.userDetails__sector--title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.userDetails__info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.userDetails__info--text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.userDetails__info--state {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.userDetails__info--state .state-indicator {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
}
.userDetails__options {
  width: 100%;
  margin-top: 3rem;
}
.userDetails__options--button {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.userDetails__options--button button {
  width: 7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20rem;
  border: none;
  background-color: rgba(22, 116, 248, 0.7803921569);
  color: #fff;
  transition: background-color 0.3s;
}
.userDetails__options--button button:hover {
  cursor: pointer;
  background-color: #145bb5;
}
.userDetails__return {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.userDetails__return button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.userDetails__return button:hover {
  color: #f00;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .userDetails {
    max-width: 500px;
  }
  .userDetails__sector--title {
    font-size: 2rem;
  }
  .userDetails__info {
    gap: 1.5rem 5rem;
  }
  .userDetails__info--text {
    font-size: 1.2rem;
  }
  .userDetails__info--state {
    font-size: 1.2rem;
  }
  .userDetails__info--state .state-indicator {
    width: 0.8rem;
    height: 0.8rem;
  }
  .userDetails__options--button {
    gap: 2rem;
  }
  .userDetails__options--button button {
    width: 7rem;
    font-size: 1.2rem;
  }
  .userDetails__return button {
    font-size: 1.7rem;
  }
}
/* Total.css */
.card-total {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}
.card-total__header {
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.card-total__header h3 {
  font-size: 1.5rem;
  color: #333;
}
.card-total__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-total__content--info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}
.card-total__content--info-item:last-child {
  border-bottom: none;
}
.card-total__content--info-item.info-label {
  font-size: 1rem;
  color: #666;
}
.card-total__content--info-item .info-value {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.card-total__content--info-item:hover {
  background-color: #f9f9f9;
}

@media only screen and (min-width: 768px) {
  .total__table tbody tr {
    flex-direction: row;
    gap: 1rem;
  }
}
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.login__form {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form--logo {
  width: 10rem;
  height: 10rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.login__form--input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.login__form--input label {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.login__form--input input {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: #ffe8e0;
}
.login__form--button {
  width: auto;
  margin-top: 3rem;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  background-color: #1382dd;
  color: #fff;
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.pagination__add button {
  width: auto;
  font-size: 17px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 20rem;
  border: none;
  color: #fff;
  background-color: #026d05;
}
.pagination__add button:hover {
  background-color: rgba(6, 190, 12, 0.6784313725);
  cursor: pointer;
  transition: 0.3s;
}
.pagination__add--box, .pagination__add--sector, .pagination__add--user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 55, 129, 0.2705882353);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.pagination__add--box #user-form, .pagination__add--sector #user-form, .pagination__add--user #user-form {
  padding: 1rem 1.5rem;
}
.pagination__add--box .add__form, .pagination__add--sector .add__form, .pagination__add--user .add__form {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
}
.pagination__add--box .add__form--input, .pagination__add--sector .add__form--input, .pagination__add--user .add__form--input {
  margin-bottom: 1rem;
}
.pagination__add--box .add__form--input label, .pagination__add--sector .add__form--input label, .pagination__add--user .add__form--input label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.pagination__add--box .add__form--select, .pagination__add--box .add__form--text, .pagination__add--sector .add__form--select, .pagination__add--sector .add__form--text, .pagination__add--user .add__form--select, .pagination__add--user .add__form--text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.pagination__add--box .add__form .check-flex, .pagination__add--sector .add__form .check-flex, .pagination__add--user .add__form .check-flex {
  display: flex;
  gap: 2rem;
}
.pagination__add--box .add__form--checkbox, .pagination__add--sector .add__form--checkbox, .pagination__add--user .add__form--checkbox {
  display: flex;
  flex-direction: row;
}
.pagination__add--box .add__form--checkbox label, .pagination__add--sector .add__form--checkbox label, .pagination__add--user .add__form--checkbox label {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.pagination__add--box .add__form--checkbox input, .pagination__add--sector .add__form--checkbox input, .pagination__add--user .add__form--checkbox input {
  margin-right: 0.5rem;
}
.pagination__add--box .add__form--submit, .pagination__add--sector .add__form--submit, .pagination__add--user .add__form--submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #028106;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination__add--box .add__form--submit:hover, .pagination__add--sector .add__form--submit:hover, .pagination__add--user .add__form--submit:hover {
  background-color: #026d05;
}
.pagination__add--box .add__form--close, .pagination__add--sector .add__form--close, .pagination__add--user .add__form--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.pagination__add--box .add__form--close:hover, .pagination__add--sector .add__form--close:hover, .pagination__add--user .add__form--close:hover {
  background-color: #ff2c2c;
}
.pagination__buttons {
  display: flex;
  gap: 1rem;
}
.pagination__buttons button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: rgba(229, 108, 21, 0.1843137255);
  border-radius: 100%;
}
.pagination__buttons .button-list {
  background-color: transparent;
}

.paginationSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.paginationSelect__button {
  background-color: #f8cba6;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.paginationSelect__button:hover:not(:disabled) {
  background-color: #e3b085;
  transform: scale(1.1);
}
.paginationSelect__button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.paginationSelect__button--active {
  width: 40px;
  height: 40px;
  background-color: #f08e05;
  color: #fff;
  border-radius: 100%;
  transform: scale(1.1);
  font-weight: bold;
  border: none;
}
.paginationSelect__numbers {
  display: flex;
  align-items: center;
}
.paginationSelect__dots {
  margin: 0 5px;
  font-size: 16px;
}

/*# sourceMappingURL=index.css.map */
