@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.start {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.start__btn {
  display: flex;
  justify-content: end;
}
.start__btn--login {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: #d5f4ff;
}
.start__btn--login i {
  font-size: 1.5rem;
  color: #eb4707;
}
.start__space {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 10rem;
  height: 10rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.subTitel {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.options__button {
  width: 100%;
  height: 3.3rem;
  font-size: 22px;
  border-radius: 30rem;
  border: none;
  background-color: #196ee4;
  color: white;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.login__form {
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form--logo {
  width: 10rem;
  height: 10rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.login__form--input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.login__form--input label {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.login__form--input input {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-color: #ffe8e0;
}
.login__form--button {
  width: auto;
  margin-top: 3rem;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  background-color: #1382dd;
  color: #fff;
}

.panel {
  width: 100%;
  height: 100vh;
}
.panel__header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel__header--logo {
  width: 7rem;
  height: 7rem;
  background-image: url("https://res.cloudinary.com/dpwje5siq/image/upload/v1714617180/log-lis_rrscm1.ico");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.panel__content {
  width: 100%;
  height: auto;
  position: relative;
}

.user,
.box,
.port,
.town,
.sector {
  width: 100%;
  height: 50vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 1;
}
.user__form,
.box__form,
.port__form,
.town__form,
.sector__form {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.user__form--input input,
.user__form--input select,
.box__form--input input,
.box__form--input select,
.port__form--input input,
.port__form--input select,
.town__form--input input,
.town__form--input select,
.sector__form--input input,
.sector__form--input select {
  width: 100%;
  height: 3rem;
  font-size: 20px;
  padding-left: 5px;
  border: 1px solid #747474;
  border-radius: 5px;
}

.user {
  height: auto;
}

#formButton {
  font-size: 25px;
  margin-top: 2rem;
  background-color: #1382dd;
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
